.hero {
  height: 600px;
  background-size: cover;
  color: #fff;
}

.heroInfo {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-shadow: 1px 1px 1px #666;
}

.heroInfo h3 {
  font-size: 1.4rem;
  font-weight: 300;
  text-shadow: 1px 1px 1px #666;
  margin-bottom: 5px;
}

.heroInfo h4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  text-shadow: 1px 1px 1px #666;
  padding: 0;
}

.heroInfo h5 {
  font-size: 4rem;
  width: 100%;
  display: flex;
  text-shadow: 1px 1px 1px #666;
  align-items: flex-end;
}

.heroInfo h5 span {
  font-size: 1.7rem;
  margin-left: 130px;
  font-weight: 300;
  position: absolute;
  text-shadow: 1px 1px 1px #666;
  margin-top: -40px !important;
  
}

.heroInfoLeft {
  width: 15%;
  display: flex;
  align-items: center;
}

.heroInfoCenter {
  width: 50%;
  margin-right: 2%;
  margin-top: 40px;
  align-items: baseline;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.heroInfoRight {
  width: 17%;
  margin-top: 40px;
  align-items: end;
  display: flex;
  justify-content: center;
}