.projectInfo {
  width: 800px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}

.projectInfoRight, .projectInfoLeft {
  width: 45%;
}

.projectInfoRight img {
  width: 100%;
}

.projectInfo h5 {
  font-size: 0.75rem;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
  color: #666;
}

.projectInfo h4 {
  font-size: 1.3rem;
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
}

.projectInfo h3 {
  font-size: 2rem;
  margin-top: 10px;
}

.projectInfo p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #999;
}

.projectInfo i {
  font-size: 2.5rem;
  color: #e83c25;
}

@media only screen and (max-width: 750px) {
  .projectInfoRight, .projectInfoLeft {
    width: 80%;
  }

  .projectInfo {
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .projectInfo h5 {
    font-size: 1rem;
  }

  .heroInfoRight {
    width: 25%;
  }

  .navLeft, .navRight {
    width: 40%;
  }

  .heroInfoCenter {
    width: 48%;
  }
}